<!-- add functionality so that FA icons will change when post is liked/unliked and post is bookmarked -->

<%- include('partials/loggedinheader') -%>

<div class="container justify-center mx-auto items-center">
  <div class="flex justify-between container">
    <a href="/profile/user/<%= post.user %>" class="text-lg font-bold"><i class="fa-solid fa-circle-user"></i> <%= username %></a> <!-- TODO: add link to user profile -->
  <%if(post.user == user.id){ %>
    <form
      action="/post/deletePost/<%= post.id %>?_method=DELETE"
      method="POST"
      class="flex justify-end"
    >
      <button class="btn btn-ghost btn-xs fa fa-trash" type="submit"></button><span>Delete Post</span>
    </form>
    <%}%>
</div>
  <!-- Container that holds the image and info sections -->
  <div class="mt-3 container flex flex-row mx-auto">
    <!-- Image Container -->
    <!-- To Do: Add Bookmark Post Button & Functionality -->
    <div class="flex flex-col w-1/2">
      <div class="container max-w-5/6 max-h-1/2"> <!-- figure out image sizing so it looks better -->
        <img class="max-h-96 mx-auto" src="<%= post.image%>" />
      </div>
      <!-- Icons Div -->
      <div class="flex flex-row justify-around mt-2">
        <form
          class="col-1"
          action="/post/likePost/<%= post.id %>?_method=PUT"
          method="POST"
        >
          <button class="fa fa-heart" type="submit"> <%= post.likes %></button>
        </form>
        <a href="#comment"><i class="fa-regular fa-comment"></i></a>
        <a href="#"><i class="fa-regular fa-bookmark"></i></a> <!-- add bookmark functionality -->
      </div>
      <!-- Caption Div -->
      <div class="mt-5">
        <p><b><a href="/profile/user/<%= post.user %>"><%= username %></a></b> <%= post.caption %></p>
      </div>
    </div> 

    <!-- Book Info Container (Title, Author, Description, Genres... Etc.) -->
    <div class="px-6 pb-6 mb-1 rounded-md w-1/2 mx-2">
      <h2 class="font-bold text-2xl"><%= post.bookTitle %></h2>
      <h3><b>Author:</b> <%= post.bookAuthor%></h3>
      <h4><b>Book Description:</b> <%= post.bookDescription%></h4>
      <h4><b>Genre:</b> <%=post.genres%></h4>
    </div>
  </div> <!-- end of image and info container -->

  <!-- Comments Container -->
  <div class="bg-base-200 mt-6 rounded-lg p-6" id="comment">   
    <h2 class="text-center text-lg font-bold">Comments</h2>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
      <li class="flex flex-row mt-5">
        <a href="/profile/user/<%= comments[i].createdById %>"><b><%= comments[i].createdBy %></b></a> &nbsp; <%= comments[i].comment%> &nbsp;&nbsp;

            <div class="flex flex-row">
              <form class="" action="/comment/likeComment/<%= post.id %>/<%= comments[i]._id %>?_method=PUT" method="POST">
                <button class="fa fa-heart" type="submit">&nbsp;<%= comments[i].likes %></button> &nbsp;&nbsp;
              </form>
              <% if(comments[i].createdById == user.id) {%>
                <form action="/comment/deleteComment/<%= post.id %>/<%= comments[i]._id %>?_method=DELETE" method="POST" class="flex-end">
                  <button class="fa fa-trash" type="submit"></button>&nbsp;<span>Delete Comment</span>
                </form>
              <% } %>
            </div>
      </li>
      <% } %>
    </ul>

    <div class="container mt-5 form-control">
      <div class="input-group">
      <form action="/comment/createComment/<%=post._id%>" method="POST" class="flex flex-row w-full justify-center">
        <!-- <label for="comment" class="form-label">Comment</label> -->
        <input type="text" class="input input-primary w-full" id="comment" name="comment" placeholder="Add a comment...">
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
    </div> <!-- end of add comment div -->
  </div> <!-- end of comments container -->


  <div class="flex justify-center my-5">
    <a class="btn btn-secondary mr-1" href="/profile/<%= username %>"><i class="fa-solid fa-circle-left"></i>&nbsp;<%= username %>'s Profile</a>
    <a class="btn btn-secondary ml-1" href="/feed">Return to Feed</a>
  </div>

</div> <!-- end of main container div -->

<%- include('partials/footer') -%>
