<!-- 
TODO: 
- I want the images to get larger or smaller with screen size... need to figure out how to implement this.
- need to add edit my profile button so user can add profile picture and caption to their profile
--- caption will need to have a word count limit to it
- need to create followers / following functions (will implement this after MVP) 
-->

<!-- 
BUG:
- images that are landscape are not being cropped to show as squares.
-->

<%- include('partials/loggedinheader') -%>

<div class="container flex flex-col justify-between relative w-full mx-auto min-h-screen max-h-fit">

    <div class="flex flex-row mx-auto mb-8 py-5 w-full justify-center border-b-2 border-gray-700">

      <div class="w-32">

        <% if (user && (user.userName === username)) { %>
          <img src="<%= user.profilePictureUrl.url %>" alt="<%= user.name %>'s profile picture" class="w-32 h-32 rounded-full">
        <% } else { %>
          <img src="<%= getUserInfo.profilePictureUrl.url %>" alt="<%= getUserInfo.name %>'s profile picture" class="w-32 h-32 object-cover rounded-full">
        <% } %>
          

      </div>

      <div class="pl-8">
          <h3 class="font-bold"><%= username %></h3>
          <ul class="flex flex-row">
            <li class="pr-8"><%= postCount %> posts</li>
            <!-- <li class="pr-8">8 followers</li> --> 
            <!-- <li>35 following</li> -->
          </ul>
          <div class="">
            <% if (username == user.userName) { %>
              <p><%= user.caption %></p>
            <% } else { %>
              <p><%= getUserInfo.caption %></p>
            <% } %>
          </div>


          <% if(user.userName == username){ %>
            <a href="/editprofile" class="btn" type="submit">Edit Profile</a>
          <%}%>
      </div>
    </div>

      <div class="grid grid-cols-3 mx-auto">

        <% for(var i=0; i<posts.length; i++) {%>
          <div class="mx-auto mb-4">
            <a href="/post/<%= posts[i]._id%>">
              <img class="w-72 max-h-72 xl:w-96 xl:max-h-96 object-cover" src="<%= posts[i].image%>">
            </a>
          </div>
        <% } %>

      </div> 

      <div class="flex items-center justify-end w-full my-5 bottom-0">
        <a class="btn btn-primary mx-auto" href="/feed"> Back to Feed</a>
      </div>  

</div> 

<%- include('partials/footer') -%>